<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-bar</title>
    <link rel="stylesheet" href="/styles/App-bar.css">
</head>
<body>
    <div class="container">
        <div class="bar">
            <img src="/assets/icons/IconosApp-bar/Lineas.png" class="icono-bar_lineas">
            <div class="bar_espacio"> Tittle Page </div>
            <img src="/assets/icons/IconosApp-bar/Corazon.png" class="icono-bar_corazon">
            <img src="/assets/icons/IconosApp-bar/Buscador.png" class="icono-bar_buscador">
            <img src="/assets/icons/IconosApp-bar/Puntos.png" class="icono-bar_puntos">
        </div>
    </div>
</body>
</html>