<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores Basicos</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div>?????</div>
    <div>?????</div>
    <div>?????</div>
    <div>?????</div>
    <div>?????</div>
    <div>?????</div>
    <div>?????</div>
    <div>?????</div>
    <div>?????</div>
    <div>?????</div>

    <div class="card"> Soy una carta</div>

    <div class="card1">Soy una carta</div>

    <div class="card2">Soy una carta</div>

    <button id="eliminar"> Eliminar </button>

    <a href="https://platzi.com"> Ingresar a Platzi </a>
</body>
</html>