<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto Flexbox</title>
    <link rel="stylesheet" href="/pet-shop-maqueta/styles/style-flexbox.css">
</head>

<body>
    <main>
        <div class="content-main">
            <div class="wrapper">
                <section>
                    <div class="container" id="Caja1">
                        <div class="Caja">Top Left</div>

                    </div>
                </section>
                <section>
                    <div class="container" id="Caja2">
                        <div class="Caja">Center Left</div>

                    </div>
                </section>
                <div class="container" id="Caja3">
                    <div class="Caja">Botton Left</div>

                </div>
                <section>
                    <div class="container" id="Caja4">
                        <div class="Cajas">Top Center</div>

                    </div>
                </section>
                <section>
                    <div class="container" id="Caja5">
                        <div class="Cajas">Center Center</div>

                    </div>
                </section>
                <section>
                    <div class="container" id="Caja6">
                        <div class="Cajas">Botton Center</div>

                    </div>
                </section>
                <section>
                    <div class="container" id="Caja7">
                        <div class="Cajita">Top Right</div>

                    </div>
                </section>
                <section>
                    <div class="container" id="Caja8">
                        <div class="Cajita">Center Right</div>

                    </div>
                </section>
                <section>
                    <div class="container" id="Caja9">
                        <div class="Cajita">Botton Right</div>

                    </div>
                </section>
            </div>
        </div>
    </main>


</body>

</html>